/* Global font and color scheme*/
body {font-size: 16px;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;}

:root {
    --primary-color: white;
    --secondary-color: black;
    --accent-color: #259ff0; }

body {background-color: var(--primary-color);
        color:white}

/*header column*/
    .row {
      width: 100%;
    }
    
    .column {
      width: 33.33%;
      float: left;
      box-sizing: border-box;}

/* Header and Navigation Bar*/
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 60px 60px;
}

.logo img {
  width: 200px;
  justify-content: center;
  border-radius: 50%;}

.title {text-decoration: none;
  color: white;
  font-weight: bold;}  

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation ul li {
  display: inline-block;
  margin-right: 20px;
}

.navigation ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.shopping-cart img {
  width: 125px;
  justify-content: right;
  border-radius: 85%;}

/*Body*/
.Welcome
  {background-color: var(--accent-color);
    text-align: center;
    align-items: center;
    padding: 40px 40px;
    }

.category{
  background-color: black;
  display: flex}

.Body{
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align:justify;
  padding: 20px 20px;
}

.image-with-caption {
  text-align: center;
  max-width: 300px;
  margin: 0 auto;}

.image-with-caption img {
  display: block;
  margin: 0 auto;
  height: 400px;
  width: 300px;}

  .image-with-caption figcaption {
    font-size:medium;
    font-style: bold}

/*Footer*/ 

.footer{
    background-color: var(--accent-color);
    text-align: center;
    align-items: center;
    padding: 40px 40px;
    }

/*form page*/

.form{
  background-color: black;
  display:flow-root;
}